<% include template/header %>
<div class="container">
    <div class="row" style="padding-top:40px; padding-bottom:40px">
        <div class="col-lg-12">
            <div class="cont-sec">
                <h2 class="text-black">ABOUT</h2>
                <p class="font-16">ValuCart is a supply-chain driven curated e-commerce business based in Dubai UAE. </p>
                <p class="font-16">ValuCart’s primary focus is to serve its customers with their daily essentials needs while providing quality products, savings and convenience.ValuCart is value for money!!</p>
                <h2 class="text-black">HOW IT WORKS</h2>
                <p class="font-16">With Valucart, shopping for your essentials is easy.</p>
                <p class="font-16">Select from a range of “Pre-defined” bundles within the ValuZone. This is built based on widely used combinations of many household essentials and provide Huge saving.</p>
                <p class="font-16"> If you don’t like what the “pre-defined” bundle offers, we give a choice of Build Your Own Bundle (BYOB), with a wide range of products available and can still save BIG!</p>
                <p class="font-16">Not fancy the Bundles? No problem… You can continue to shop ValuCart’s inventory of over 10,000 products and add to your Cart and checkout. Make your order to AED 250/- and enjoy free next day home delivery within Dubai and Sharjah Central.</p>
                <p class="font-16">Too busy to re-order? Try our scheduling option and tell us what you want and when you want and leave the rest to us!</p>
                <p class="font-16">Valucart, Smart Groceries for Smart Planners!!</p>
            </div>
        </div>
    </div>
</div>
<% include template/footer %>