<% include template/header %>
<!--    Breadcrumb-->
<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        <li class="lastcrumb">
            <a>
                Contact us
            </a>
        </li>
    </ul>
</div>
<!--    Breadcrumb-->
<div class="container">
    <div class="row" style="padding-top:40px; padding-bottom:40px">
        <div class="col-lg-12">
            <div class="cont-sec contact-sec">
                <div class="col-lg-6 col-md-6 no-pd">
                    <img src="img/contact.jpg" alt="Contact" />
                    <div class="timings-sec">
                        <div class="tm-box">
                            <h3>Working days</h3>
                            <h2>Saturday to Thursday</h2>
                        </div>
                        <div class="tm-box">
                            <h3>Delivery Timings</h3>
                            <h2>10am to 10pm</h2>
                        </div>
                        <div class="tm-box">
                            <h3>Office Hours</h3>
                            <h2>9am to 6pm</h2>
                        </div>
                    </div>
                    <div class="address-sec">
                        <p><i class="map-icon"></i> Office no: 114, Garhoud Star Building,
                            Al Garhoud, Dubai.</p>
                        <p><i class="email-icon"></i> <a href="mailto:customercare@valucart.com">customercare@valucart.com</a></p>
                        <p><i class="phone-icon"></i> +971 4 223 1188</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 contact-form">
                    <h2 class="text-black">Customer satisfaction is always our priority!</h2>
                    <div class="form-group">
                        <input type="text" name="c-name" id="c-name" class="form-control input-fld" value="">
                        <label for="c-name">Name</label>
                        <span class="error-msg">Please enter name</span>
                    </div>
                    <div class="form-group">
                        <select name="c-about" id="c-about" class="form-control input-fld">
                            <option></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        <label for="c-about">Message is about</label>
                        <span class="error-msg">Please select anyone</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="c-email" id="c-email" class="form-control input-fld" value="">
                        <label for="c-email">Registered Email id</label>
                        <span class="error-msg">Please enter email id</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="c-mobile" id="c-mobile" class="form-control input-fld" value="">
                        <label for="c-mobile">Mobile Number </label>
                        <span class="error-msg">Please enter mobile number</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="c-refid" id="c-refid" class="form-control input-fld" value="">
                        <label for="c-refid">Reference Id</label>
                        <span class="error-msg">Please enter reference id</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="c-msg" id="c-msg" class="form-control input-fld" value="">
                        <label for="c-msg">Message</label>
                    </div>
                    <div class="col-lg-12 no-pd">
                        <button type="submit" class="btn c-btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include template/footer %>