<% include template/header %>
<div class="container">
                    <div class="row" style="padding-top:40px; padding-bottom:40px">
                        <div class="col-lg-12">
                            <div class="cont-sec faq-sec">
                                <h2 class="text-black">FAQs for ValuCart</h2>
                                <ol>
                                    <li>
                                        <h3>How can I place an order?</h3>
                                        <p>To place an order, follow these 5 simple steps:</p>
                                        <ul>    
                                            <li>Login/Signup to your ValuCart Account.</li>
                                            <li>Browse through products in Pre-Designed Bundles or Categories.</li>
                                            <li>Add products of your choice to the cart and checkout.</li>
                                            <li>Add the address where you want the delivery and select your favourable payment options.</li>
                                            <li>Schedule the bundles/products for delivery on a later date with flexible weekly and monthly scheduling options.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Is it necessary to have an account to shop on ValuCart?</h3>
                                        <p>Yes, having an account in ValuCart gives the customers a personalized experience from recommendations, exclusive products on offers and quicker check-outs. Logged in users will have access to all past orders, will be able to track, schedule/un-schedule/re-schedule orders and benefit from secure payment options. </p>
                                    </li>
                                    <li>
                                        <h3>Why should I buy from ValuCart?</h3>
                                        <p>ValuCart is an consumer driven online platform with a unique offering of “Bundling up” that helps you get your essentials delivered at your doorstep with just a click. We assure you that we give the best offers which aren’t available in supermarkets in this region with a huge savings UPTO 25%.</p>
                                    </li>
                                    <li>
                                        <h3>What is ValuZone Bundle?</h3>
                                        <p>ValuZone Bundles are pre-configured bundles with discounts on the products that provides Huge savings. The Bundles are curated with products that our customers have mostly ordered frequently together. Check out our Baby Bundle or Breakfast Bundle, for example, to know more about the exclusive discounts and offers.</p>
                                    </li>
                                    <li>
                                        <h3>What is Build your own Bundle(BYOB)?</h3>
                                        <p>You can also create your personalised Bundle with 300+ products we have procured for you to give Big discounts. Schedule them with a monthly/weekly subscription. You can add items of your choice under a Bundle and customize it later.</p>
                                    </li>
                                    <li>
                                        <h3>Where can I find the Bundles I have created?</h3>
                                        <p>You can find your Bundles under Accounts Tab. Go to Accounts > My Bundles to view all the Bundles you have created.</p>
                                    </li>
                                    <li>
                                        <h3>How can I schedule my bundle?</h3>
                                        <p>You can schedule your bundle in two ways,</p>
                                        <ul>
                                            <li>Go to My Account > My Bundles > Schedule to schedule the bundle for later delivery.</li>
                                            <li>After checkout, while you create your bundle you can click on the schedule tab to schedule the bundle for later delivery.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>How can I Re-schedule/Un-schedule my bundle?</h3>
                                        <ul>
                                            <li><strong>To Un-schedule: </strong>Go to My Account > My Bundles > Un-schedule> Pop-up Confirmation</li>
                                            <li><strong>To Re-Schedule: </strong>Go to My Account > My Bundles > Re-Schedule to select the preferable slots to continue and save the re-schedule.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>How can I add more item to an existing Bundle?</h3>
                                        <p>To add more items to an existing Bundle, go to My Accounts > My Bundles > View Details. Click on the “Add more products” to the left corner below the already existing items to browse through the products which you want to add.</p>
                                    </li>
                                    <li>
                                        <h3>How to order my already existing Bundle?</h3>
                                        <p>To order a Bundle go to My Account > My Bundles > Add to Cart to checkout and place an order.</p>
                                    </li>
                                    <li>
                                        <h3>How to add items in the Wishlist?</h3>
                                        <p>To add items in the Wishlist, browse through items you want to save to view or buy later and click on the Love icon placed top right corner to an item. The icon when marked in red, indicates the item getting wish listed. </p>
                                        <p>You can view your Wishlist from My Account > My Wishlist.</p>
                                    </li>
                                    <li>
                                        <h3>What is the minimum order for free delivery and where does Valucart deliver?</h3>
                                        <p>Valucart delivers within Dubai City limits and Sharjah Central area. With a minimum order of AED 250/-, you can enjoy free delivery.</p>
                                    </li>
                                    <li>
                                        <h3>How long do I wait for groceries to be delivered?</h3>
                                        <p>Your order will be delivered at your doorstep the next day given that it is within the cut-off time limit.</p>
                                        <p>If the customer isn’t available at the particular time, the delivery can be scheduled accordingly.</p>
                                    </li>
                                    <li>
                                        <h3>How can I track my orders?</h3>
                                        <p>To track your order, go to My Account > My Orders to see the details of all the orders placed by you.</p>
                                    </li>
                                    <li>
                                        <h3>Are there any filters that I can use to filter the products?</h3>
                                        <p>We provide you 3 main filters to filter your search. They are Brand, Prices and Discounts. Under each section you will find numerous filters which you can choose to narrow down your search.</p>
                                    </li>
                                    <li>
                                        <h3>How can I Add/Delete my addresses?</h3>
                                        <ul>
                                            <li>
                                                <strong>To Add new Address, </strong> Go to My Account > Address Book > Add new Address.
                                                <p>You can also select an already added address as default address for all your future deliveries.</p>
                                            </li>
                                            <li>
                                                <strong>To Delete an already added Address, </strong>Go to My Account > Address Book > Delete this Address.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>How to pay for my orders?</h3>
                                        <p>Currently, you can pay for your orders via Cash on Delivery (COD) and Cash on Delivery option, but soon other payment options will be available. To know more, please visit our website.</p>
                                    </li>
                                    <li>
                                        <h3>How can I exchange products that are incorrectly sent, damaged or expired?</h3>
                                        <p>Refer to our <a href="terms-and-conditions.html">terms & conditions</a> </p>
                                    </li>
                                    <li>
                                        <h3>How can I use the coupons?</h3>
                                        <p>Customers can apply coupon/promotional codes during checkout to avail more discounts/cashbacks. Coupons will be available during checkout under “Apply Coupon” tab. Please be noted. The coupons/promotional code may differ from customer to customer. One Coupon/Promotional code cannot be clubbed with another.</p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
<% include template/footer %>