<% include template/header %>
<div class="container">
                    <div class="row" style="padding-top:40px; padding-bottom:40px">
                        <div class="col-lg-12">
                            <div class="cont-sec">
                                <h2 class="text-black">Privacy Policy</h2>
                                <ol>
                                    <li>
                                        <p>When you use Valucart.com or its Services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, what we do with it, and how we disclose, transfer and store it. This is important; we hope you will take time to read it carefully. And remember, you can find controls to manage your information at My Account.</p>
                                    </li>

                                    <li>
                                        <h3>Helpful Definitions</h3>
                                        <ul>
                                            <li>References to the “Terms” and/or “Agreement,” mean this, these Terms & Conditions as set forth herein.</li>
                                            <li>References to “us”, “we”, “our” and/or “the company” mean <a class="color-ok" href="http://www.Valucart.com">Valucart.com</a></li>
                                            <li>References to “you”, “customers” and/or “users” mean the User of the Website.</li>
                                            <li>References to the “Site” mean the Websites bearing the URLs <a class="color-ok" href="http://www.Valucart.com">www.Valucart.com</a>, <a class="color-ok" href="http://www.Valucart.com">support.Valucart.com</a>, <a class="color-ok" href="http://www.Valucart.com">global.Valucart.com</a> and Our apps (Android and iOS Apps)</li>
                                        </ul>
                                    </li>

                                    <li>
                                        <h3>You Agree to</h3>
                                        <p>By visiting the Valucart.com, you agree to accept the practices described in this Privacy Policy. If you do not agree to the terms of this Privacy Policy, please do not use the Site. Each time you use the Site, you should check the date of this Privacy Policy and review any changes that have been made since your last visit to the Site.</p>

                                    <li>
                                        <h3>Information we collect</h3>
                                        <p>Your privacy is important to us; we only collect information that is necessary to provide you our services, enhance your shopping experience, and to protect your account. We may collect the following information:</p>
                                        <ul>
                                            <li>Information, you provide by filling in forms on our Site, including, but not limited to, name, address, phone number, email address, gender, date and/or year of birth, country, language, profile picture, and user preferences;</li>
                                            <li>In connection with any transaction and payment on the Sites, we may collect information, including but not limited to, billing and delivery information, credit/debit card numbers and expiration dates;</li>
                                            <li>Any information you provide, or we may collect from you when you report a problem;</li>
                                            <li>Record of correspondence when you contact us by, including but not limited to, emails, phone call, or social media;</li>
                                            <li>When you download or use our mobile application, we may have access few details that are displayed to you separately at the time of download;</li>
                                            <li>We may collect details about your computer, including but not limited to your IP address, operating system and browser type, as well as information about your general internet usage.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>How we use information we collect</h3>
                                        <p>We respect your privacy. Any personal information that we collect about you will be used and disclosed by us so that we can provide you with the services that you have requested, or otherwise to enable us to carry out our business as suppliers of goods, such as:</p>
                                        <ul>
                                            <li>Provide our services;</li>
                                            <li>Respond to your enquiries;</li>
                                            <li>Customize users' experience, measure interest in our services, and inform users about services and updates;</li>
                                            <li>Handle orders, delivery and payments;</li>
                                            <li>Communicate marketing and promotional offers to you;</li>
                                            <li>Update our records and maintain any online account you may have with us;</li>
                                            <li>Enable third parties to carry out technical, logistical or other functions on our behalf;</li>
                                            <li>Each time we use your personal information for advertising purposes such as promotions, surveys and newsletter, we will give you the opportunity to decline to receive any further information from us.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Disclosing your Personal Information</h3>
                                        <p>Information about our customers is an important part of our business. We share your Information only as described below:</p>
                                        <ul>
                                            <li> All information contained by Valucart.com is treated as strictly confidential and Valucart.com does not and will not disclose or share such confidential information to / with any external organization;</li>
                                            <li> The users’ privacy is very important to us. We do not and shall not at any point in time, either sell or rent users’ personal information to third parties without users’ explicit consent;</li>
                                            <li> We may be required from time to time to disclose users’ personal information to Governmental or law enforcing agencies or our regulators, but we will only do so under proper authority;</li>
                                            <li> Valucart.com also reserves the right to make use of the personal information in any investigation or judicial process relating to fraud on account of such transactions during the period Valucart.com retains such information;</li>
                                            <li> We may also disclose personal information to enforce our policies, respond to claims that a posting or any other content violates others rights, or protects anyone’s rights, property or safety;</li>
                                            <li> We may also share personal information with Corporate affiliates who help detect or prevent potentially illegal acts and provide joint services (Our corporate affiliates will market only to users who ask them to);</li>
                                            <li> Service providers who help with our business operations. You understand that it is important that such businesses have access to the relevant Information to perform their functions. We will ensure that these businesses do not use your Information for other purposes;</li>
                                            <li> In the event that we or substantially all of our assets are acquired, customer information will be one of the transferred assets.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Storage of Information:</h3>
                                        <p>Information that we collect may be transferred, accessed, and stored globally as necessary in accordance with this Privacy Policy. We might use, transfer, access, and store information on servers that may be outside UAE or outside the country of your residence. It may also be processed by staff operating outside the UAE or outside your country of residence who work for us, for our trusted business partners, or for our service providers in accordance with this privacy policy. Such staff may be engaged in, among other things, the fulfillment of your order, the processing of your payment and the provision of support services.</p>

                                        <p>All credit/debit cards details and personally identifiable information will NOT be stored, sold, shared, rented or leased to any third parties.</p>
                                    </li>
                                    <li>
                                        <h3>Security of Information:</h3>
                                        <p>We are committed to maintaining the confidentiality of the information that you provide us and we will take all reasonable precautions and necessary measures to protect your personal information. Our electronic information systems are password protected to prevent unauthorized access. We have adopted security measures in an effort to protect personal information from loss, misuse or alteration while it is under our control. Our staff are trained and required to protect the privacy of your personal information.</p>

                                        <p>In order to maintain this protection, we caution you not to provide your password to anyone. We recommend that, if you share your computer with other people, you close your browser window when your session is completed. Signing off will protect your information if you share a computer with someone else or are using a computer in a public place.</p>

                                        <p>If you believe that your password has been misused, please notify us immediately.</p>
                                    </li>
                                    <li>
                                        <h3>Correction/Removal of Your Information</h3>
                                        <p>If your name, e-mail, telephone number or other Personal Information changes, you may update, correct or omit the relevant information by going to your profile under “My Account”. If you request us to do so, we will amend any personal information which is inaccurate, incomplete or out of date. You may \ directly contact us or send an email at <a class="color-ok" href="mailto:support@valucart.com">support@valucart.com</a>. In addition, if you no longer wish to receive communications from us you may opt-out by emailing us at <a class="color-ok" href="mailto:support@valucart.com">support@valucart.com</a> or by clicking on the one click unsubscribe link at the bottom of any marketing e-mail you receive from us.</p>
                                    </li>
                                    <li>
                                        <h3>Children and Privacy</h3>
                                        <p>The Site is a general audience website and is not directed to children under the age of 13. We will never knowingly collect personally identifiable information from children under the age of 13 without verifiable parental consent. If you are under the age of 13, please do not provide us with personally identifiable information of any kind whatsoever. If we become aware that a user is under the age of 13 and has submitted Personal Information without verifiable parental consent, we will remove his or her personally identifiable information from our files. We understand that children may not fully understand all of the provisions of this Privacy Policy or make informed decisions about the choices that are made available to adult users of the Site. We encourage parents and guardians to spend time with their children online and to be familiar with the websites they visit. <a class="color-ok" href="http://www.valucart.com">Valucart.com</a> does not sell products to persons under the age of 18. If you are under the age of 18, you are required seek the consent of your parent or guardian to purchase products from the Site.</p>
                                    </li>
                                    <li>
                                        <h3>Third Party Advertisers and External Links</h3>
                                        <p>We maintain relationships with third party affiliates, thus we may feature links to other websites. Although we do not and cannot control the activities of the third parties that operate such websites, you can be sure that we will stop doing business with any affiliate that engages in abusive practices, including, for example, spam, trademark infringement, or unlawful activities. <a class="color-ok" href="http://www.valucart.com">Valucart.com</a> is not responsible for the privacy practices or content of any other websites besides its own.</p>
                                    </li>
                                    <li>
                                        <h3>Revisions to Our Privacy Policy</h3>
                                        <p>From time to time it may be necessary for us to amend our Privacy Policy, thus we reserve the right to its revision, and we strongly suggest that you visit and review our Privacy Policy periodically to make sure you understand how information you provide will be used. However, you can be confident that any changes will be in accordance with the general Privacy Act and the National Privacy Principles.</p>
                                    </li>
                                    <li>
                                        <h3>LIMITATIONS ON LIABILITY</h3>
                                        <p>IN NO EVENT WILL <a class="color-ok" href="http://www.valucart.com">VALUCART.COM</a> OR ITS PARENT, AFFILIATES, LICENSEES OR ANY PARTY INVOLVED IN CREATING, PRODUCING OR DELIVERING THE SITE OR ITS PRODUCTS OR SERVICES BE LIABLE IN ANY MANNER WHATSOEVER FOR ANY INCIDENTAL, CONSEQUENTIAL, INDIRECT, SPECIAL OR PUNITIVE DAMAGES ARISING OUT OF YOUR ACCESS, USE OR INABILITY TO USE THE SITE, OR IN CONNECTION WITH ANY FAILURE OR PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS OR LINE OR SYSTEM FAILURE (INCLUDING LOSS OF PROFITS, LOSS OF BUSINESS OR DATA, BUSINESS INTERRUPTION, AND DAMAGES THAT RESULT FROM INACCURACY OF THE INFORMATION OR INCONVENIENCE, DELAY, OR LOSS OF THE USE OF THE SITE). THE FOREGOING LIMITATIONS APPLY WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR ANY OTHER BASIS, EVEN IF <a class="color-ok" href="http://www.valucart.com">VALUCART.COM</a> OR ITS AFFILIATES OR ANY OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
<% include template/footer %>