<% include template/header %>
    <!-- main section -->
    <div class="container change-pwd" id="wrapper">
        <div class="row text-center">
            <div class="page-center">
                <img src="img/success.png" alt="success" />
                <h6>Your request for replacement has been successfully replaced.</h6>
                <h6>Our delivery executive will pick up your order within 72 hours from the below mentioned address.</h6>
            </div>
            <h5>Shipping address</h5>
        </div>
        <div class="ship-addr">
            <h6>Faheem Ahmed</h6>
            <p>1st floor, Mehta Al owais House #105, Al shulaiween Sharjah, Dubai Landmark Building of UAE Exchange 055 65435345</p>
        </div>
        <div class="text-right visible-lg visible-md hidden-sm hidden-xs">
            <button class="btn-pwd" style="width:200px;margin-top: 40px;">Continue Shopping</button>
        </div>
        <div class="visible-xs visible-sm hidden-lg hidden-md">
            <button class="btn-pwd" style="margin-top: 40px;">Continue Shopping</button>
        </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.3.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <!--    Includes all functions-->
    <script src="js/main.js"></script>
    <!--    owlcarousel js-->
    <script src="js/owlcarousel.js"></script>
    </body>

    </html>