<% include template/header %>
    <!--    Breadcrumb-->
    <div class="container myorderdetail">
        <ul class="breadcrumb">
            <li>
                <a href="#">My accounts</a>
            </li>
            <li>
                <a href="#">My orders</a>
            </li>
            <li class="lastcrumb">
                <a href="#">Order details</a>
            </li>
        </ul>
    </div>
    <!--    Breadcrumb-->
    <div class="container myorderdetail">
        <h4 class="cancelquestion">Choose item(s) you would like to replace</h4>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-8">
                <div class="badge hidden-xs">
                    <ul class="list-inline orderlist">
                        <li> Order ID :
                            <span class="orderid">AB-123456789-125845</span>
                        </li>
                        <li> Order date :
                            <span class="orderdate">29 May 2018</span>
                        </li>
                        <li> Total Amount :
                            <span class="orderdate">300.00 AED</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 text-right">
                <p class="totalitems">Total items
                    <span class="itemcount">2</span>
                </p>
            </div>
        </div>
        <div class="panel panel-default myorderpanel replacement">
            <div class="panel panel-default myorderpanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="productcheckdiv">
                                <div class="col-md-1 col-sm-1 col-xs-12 text-right">
                                    <div class="checkbox checkbox-info check-align">
                                        <input id="brand1" type="checkbox" checked>
                                        <label for="brand1">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-3 col-xs-3">
                                    <p class="discountprice  hidden-xs">-10%</p>
                                    <img src="img/nuetella.png" class="img-responsive productimg">
                                </div>
                                <div class=" col-md-7 col-sm-3 text-left">
                                    <h4>Luxury breakfast bundle</h4>
                                    <ul class="productdesclist  hidden-xs">
                                        <li>- Nutella hazelnut chocolate spread
                                            <span class="productgrade">X 1</span>
                                        </li>
                                        <li> - Kellogg’s frosties
                                            <span class="productgrade">X 1</span>
                                        </li>
                                        <li>- Hershey’s strawberry syrup
                                            <span class="productgrade">X 1</span>
                                        </li>
                                    </ul>
                                    <h5 class="offeredprice  hidden-xs">27.40 AED</h5>
                                    <h6 class="price" style="padding-top: 10px;">45.00 AED</h6>
                                    <div class="deliverystate  hidden-xs">
                                        <p class="progresstextc">Completed</p>
                                        <p class="packcount">Estimated Delivery:
                                            <span class="deliverydate">03 Jun 2018</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="productcheckdiv">
                                <div class="col-md-1 col-sm-1 col-xs-12 text-right">
                                    <div class="checkbox checkbox-info check-align">
                                        <input id="brand2" type="checkbox" checked>
                                        <label for="brand2">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-3 col-xs-3">
                                    <img src="img/nuetella.png" class="img-responsive productimg">
                                </div>
                                <div class=" col-md-7 col-sm-3 text-left">
                                    <h4>Luxury breakfast bundle</h4>
                                    <ul class="productdesclist  hidden-xs">
                                        <li>- Nutella hazelnut chocolate spread
                                            <span class="productgrade">X 1</span>
                                        </li>
                                        <li> - Kellogg’s frosties
                                            <span class="productgrade">X 1</span>
                                        </li>
                                        <li>- Hershey’s strawberry syrup
                                            <span class="productgrade">X 1</span>
                                        </li>
                                    </ul>
                                    <h5 class="offeredprice  hidden-xs">27.40 AED</h5>
                                    <h6 class="price" style="padding-top: 10px;">45.00 AED</h6>
                                    <div class="deliverystate  hidden-xs">
                                        <p class="progresstextc">Completed</p>
                                        <p class="packcount">Estimated Delivery:
                                            <span class="deliverydate">03 Jun 2018</span>
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="productcheckdiv">
                                <div class="col-md-1 col-sm-1 col-xs-12 text-right">
                                    <div class="checkbox checkbox-info check-align">
                                        <input id="brand3" type="checkbox" checked>
                                        <label for="brand3">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-3 col-xs-3">
                                    <img src="img/nuetella.png" class="img-responsive productimg">
                                </div>
                                <div class=" col-md-7 col-sm-3 text-left">
                                    <h4>Luxury breakfast bundle</h4>
                                    <ul class="productdesclist  hidden-xs">
                                        <li>- Nutella hazelnut chocolate spread
                                            <span class="productgrade">X 1</span>
                                        </li>
                                        <li> - Kellogg’s frosties
                                            <span class="productgrade">X 1</span>
                                        </li>
                                        <li>- Hershey’s strawberry syrup
                                            <span class="productgrade">X 1</span>
                                        </li>
                                    </ul>
                                    <h5 class="offeredprice  hidden-xs">27.40 AED</h5>
                                    <h6 class="price" style="padding-top: 10px;">45.00 AED</h6>
                                    <div class="deliverystate  hidden-xs">
                                        <p class="progresstextc">Completed</p>
                                        <p class="packcount">Estimated Delivery:
                                            <span class="deliverydate">03 Jun 2018</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-5 col-xs-12 cancellation">
                            <div class="panel panel-default paymentdiv" style="background-color: transparent !important;">
                                <h5 class="paytitle">Reason for Replacement</h5>
                                <form action="">
                                    <div class="form-group">
                                        <select class="form-control" id="sel1">
                                            <option>Select a reason</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button class="btn btn-info cancellbtn">Cancel</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn btn-info cancelbtn">Continue</button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                            <div class="panel panel-default shippingdiv">
                                <h5 class="paytitle">Shipping address </h5>
                                <p class="deliveryname">Faheen Ahmed</p>
                                <p class="deliveryadd">1st Floor, Mehta Al Owais,
                                    <br> House # 105,
                                    <br> Al Shuwaihean, Sharjah, Dubai
                                    <br> Landmark: Building of UAE Exchange
                                    <br>
                                    <br>+975 055 6060535
                                    <br>faheen@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="noreturstext hidden-sm hidden-md hidden-lg">No returns on any products. Only exchange accepted basis on condition - To be reported within 48hours and pickup
            will be done within 72hours</p>

    </div>
    <% include template/footer %>