<% include template/header %>
<div class="container">
    <div class="row" style="padding-top:40px; padding-bottom:40px">
        <div class="col-lg-12">
            <div class="cont-sec">
                <h2 class="text-black">Return Policy</h2>
                <ol>
                    <li>
                        <p>You should check all Products you receive against your order. If you receive Products that
                            are damaged or incorrectly supplied then you must note the details of any damage or error
                            in supply on the delivery documentation and it will be your responsibility to tell us of
                            the damage or incorrect supply within 24 hours of delivery. You must return the Products to
                            us as soon as possible after notifying us that the Products are damaged or have been
                            incorrectly supplied. Please note that we will not accept the return of any damaged or
                            incorrectly supplied Products where you fail to notify us of this within 24 hours of
                            receiving them.</p>
                    </li>

                    <li>
                        <p>if the Products,</p>
                        <ul>
                            <li>are damaged at the time of delivery</li>
                            <li>have past their stated expiry dates at the time of delivery</li>
                            <li>are proved to be counterfeit or</li>
                            <li>Canceling of products after the delivery status is changed to “shipped”, canceling of
                                products is not applicable.</li>
                        </ul>
                    </li>

                    <li>
                        <p>All the Products listed on our Website are sold either by us directly or by carefully
                            selected vendors and, in relation to the later, we just act as a marketplace to get these
                            Products to you. Each Product sold by us will also come with the benefit of the relevant
                            vendors warranty for that particular Product as detailed on the Website or the Products
                            themselves and vendors are directly responsible for it. We will however provide you with
                            reasonable assistance in relation to making any warranty claims against the relevant
                            vendors.</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<% include template/footer %>