<% include template/myaccount/header %>
    <!--    Breadcrumb-->
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="#">My accounts</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
            <li class="lastcrumb">
                <a href="#">Service Request</a>
            </li>
        </ul>
    </div>
    <!--    Breadcrumb-->
    <div class="container change-pwd">
        <h4>Service Request</h4>
        <p>If hava a question about our service or have an issue a report. Please send a request and we will get back to you
            as soon as possible.</p>
        <div class="panel1 panel-default">
            <div class="panel-body">
                <form style="margin-top: 20px">
                    <div class="form-group marg-btm">
                        <input type="text" id="name" class="form-control form-control1">
                        <label class="form-control-placeholder" for="name">email id
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="form-group marg-btm">
                        <input type="text" id="name" class="form-control form-control1">
                        <label class="form-control-placeholder" for="name">subject
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="form-group marg-btm">
                        <input type="text" id="name" class="form-control form-control1">
                        <label class="form-control-placeholder" for="name">message
                            <sup>*</sup>
                        </label>
                    </div>
                    <div class="form-group btn-bottom text-right visible-lg visible-md hidden-sm hidden-xs">
                        <button class="btn-pwd" style="width:200px;margin-right: 10px;">Submit</button>
                        <button class="btn-cnl" style="width:200px;">Cancel</button>
                    </div>
                    <div class="form-group btn-bottom visible-xs visible-sm hidden-lg hidden-md">
                        <button class="btn-pwd">Save</button>
                        <button class="btn-cnl">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.3.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <!--    Includes all functions-->
    <script src="js/main.js"></script>
    <!--    owlcarousel js-->
    <script src="js/owlcarousel.js"></script>
    </body>

    </html>