<% include template/header %>
    <!-- main section -->
    <div class="container-fluid subscribe" id="wrapper">
        <div class="row text-center">
            <div class="page-center">
                <img src="img/success.png" alt="success" />
                <h4>Subscription successful!</h4>
                <p>Your subscription has been successfully placed. You will be intimated 3 days prior to the billing cycle for
                    your to approve payment.</p>
            </div>
            <a href="home.html">
                <p class="end-text">Back to home</p>
            </a>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.3.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <!--    Includes all functions-->
    <script src="js/main.js"></script>
    <!--    owlcarousel js-->
    <script src="js/owlcarousel.js"></script>
    </body>

    </html>