<% include template/header %>
<div class="container">
                    <div class="row" style="padding-top:40px; padding-bottom:40px">
                        <div class="col-lg-12">
                            <div class="cont-sec terms-sec">
                                <h2 class="text-black">Terms and Conditions</h2>
                                        <p class="font-16">These terms and conditions ("Terms") apply whenever you use our website <a class="color-ok" href="http://www.valucart.com">www.valucart.com</a> (the "Website") or order any product ("Product") or bundle of Products (“Bundle”) through the Website or otherwise from us.</p>
                                        <p class="font-16">Please read these Terms carefully and print a copy for your future reference. By using the Website or ordering a Product from us, you agree that you have read, understood and agree to these Terms (as amended from time to time). If you do not agree to these Terms, you must not use the Website or order any Product from us.</p>                                    
                                    <ol>
                                    <li>
                                        <h3>About us</h3>
                                        <p>Valucart General Trading LLC (referred to in these Terms as “ValuCart”, “we”, or “us”) is a limited liability company registered in Dubai, United Arab Emirates (UAE), whose commercial license number is 809832 and whose registered address is at PO Box [  555521 ] Dubai with a paid up share capital of AED 300,000. </p>
                                        <p>Should you have any questions about these Terms or wish to contact us for any reason whatsoever, please e-mail us on <a class="color-ok" href="mailto:support@valucart.com">support@valucart.com.</a></p>
                                    </li>
                                    <li>
                                        <h3>About you</h3>
                                        <p>By ordering any Products from us, you confirm that you are</p>
                                        <ul style="list-style-type: lower-roman">
                                            <li>over 18 years old</li>
                                            <li>resident in one of the Gulf Cooperation Council (“GCC”) countries and</li>
                                            <li>ordering Products for delivery in the GCC .  If any of the above is incorrect, you must notify us and we reserve the right, in our sole discretion, to refuse or accept your order.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Use of the Website</h3>
                                        <p>You agree to use the Website only for lawful purposes and in a way which does not infringe the rights of any anyone else or restrict or inhibit anyone else's use and enjoyment of the Website.</p>
                                        <p>You are permitted to download and print content from the Website solely for your own internal business purposes and/or personal use. Website content must not be copied or reproduced, used or otherwise dealt with for any other reason. You are not entitled to modify or redistribute the content of this Website or reproduce, link, frame or deep-link it on any other website without our express written permission. You are not entitled to use the content of the Website for commercial exploitation in any circumstances.</p>
                                        <p>Without limiting any other rights and remedies we may have available, we may, without giving any notice, limit your activities on the Website, deny you access to the Website or refuse to sell Products to you if you breach these Terms or if we consider your use of the Website to be inappropriate.</p>
                                    </li>
                                    <li>
                                        <h3>Uploads</h3>
                                        <p>From time to time, the Website may include a blog ("Blog"), which is a specialised part of the Website that allows an individual or a group of individuals to share a running log of events and personal insights with other users of the Website. You agree that you will not post or share any material that is:</p>
                                        <ul style="list-style: lower-alpha">
                                            <li>contrary to Islamic principles, or the social norms or moral or cultural considerations of the UAE or other GCC countries; </li>
                                            <li>that is threatening, defamatory, obscene, indecent, offensive, pornographic, abusive, discriminatory, scandalous, inflammatory, or which may cause annoyance or inconvenience;</li>
                                            <li>for which you have not obtained all necessary licences and approvals; or</li>
                                            <li>which is technically harmful (including, but not limited to, computer viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software or harmful data.</li>
                                        </ul>
                                        <p>We will be free to copy, disclose, distribute, incorporate and otherwise use any posted or shared material for any and all commercial and non-commercial purposes.</p>
                                        <p>Without prejudice to any rights or remedies we have under the Terms and the law, we reserve the right to remove any materials that breach these Terms or that we deem inappropriate.</p>
                                    </li>
                                    <li>
                                        <h3>Product descriptions</h3>
                                        <p>All Product descriptions and illustrations shown on the Website are provided in good faith but are intended as guidance only and actual Products may vary accordingly. </p>
                                        <p>All prices shown on the Website are in shown in UAE Dirhams. Unless otherwise stated on our Website, prices shown on the Website, App do not include delivery charges, packaging, taxes, custom duties or other charges, which will be added to any order you place.   Our current policy for deliveries within [Dubai][Sharjah] is (i) free delivery on all orders over AED 250 and (ii) a nominal charge of AED10 on orders between AED 50 and AED250.   Please contact us for delivery charges outside of [Dubai][Sharjah].</p>
                                        <p>Whilst we use reasonable endeavours to keep prices up-to-date on the Website, we reserve the right to alter prices and delivery charges at any time. </p>
                                    </li>
                                    <li>
                                        <h3>Ordering Products</h3>
                                        <p>Before placing an order to purchase a Product or a Bundle, you will be given the option to purchase to register with us.  By creating an account with us, you will be able to move through the checkout process faster, store multiple shipping addresses, store your preferred Bundles, view and track your order status and history and more.  If you choose to register with us you will be asked for a user name and password as your login information to create your account. You are responsible for keeping your account login information secret and secure and you agree:</p>
                                        <ul style="list-style-type: lower-alpha">
                                            <li>Not to permit any other person to use your user name and password; and</li>
                                            <li>Not to disclose or provide any other person your user name, your password or any other information that may allow other person to gain access to your user name or password.</li>
                                        </ul>
                                        <p>We will use this user name and password information to create your personal account. Our collection of your personal data submitted via the Website is subject to our Privacy Policy.</p>
                                        <p>When you place an order to purchase a Product from us, your order represents an offer to us to purchase that Product, which we may choose to accept or refuse – it does not represent a legally binding contract.</p>
                                        <p>Whilst we will do our best to fulfil your order (once it is accepted), we cannot guarantee to do so (for example, where our vendors are out of stock, where your card issuer refuses to authorise your payment or where Products have been incorrectly priced on our Website). Your offer is accepted by us and becomes binding only when we expressly confirm your order in writing (either by invoice submitted with Products delivered, e-mail or otherwise).</p>
                                    </li>
                                    <li>
                                        <h3>Payment for the Products</h3>
                                        <p>All Products will remain our property (or those of our vendors where we are selling on a consignment basis on their behalf) until we have received payment in full for those Products.</p>
                                        <p>During the checkout process, you will be asked to complete your payment option.  All highlighted fields must be completed. We accept and can make arrangements for payment methods such as cash on delivery/ card on delivery.  In the future, other payment methods such as pay via debit or credit card on our website will be made available.</p>
                                        <p>All card payments are subject to authorisation by your card issuer.  If your payment is not authorised, we will cancel your order and notify you in writing (which may include e-mail) that we have done so.  If you have opted for cash on delivery, payment must be made in full upon delivery.   Please note our delivery team will carry sufficient change for [AED 500] notes. </p>
                                        <p>If we cannot supply you with the Products that you have ordered, we will cancel your order and inform you of this as soon as reasonably possible. We will give you a full refund where you have already paid for the Products.</p>
                                    </li>
                                    <li>
                                        <h3>Delivery of the Products</h3>
                                        <p>Delivery will be to the address specified in your order.  We endeavor to make delivery the very next day if the order is done within a cut-off time of 4:00PM depending on the Products, the vendors and availability and your exact location but we cannot guarantee the delivery date or time. If no one is available at the address at the time of delivery, the Products will be retained by us for a reasonable period of time and then, if we cannot contact you to arrange redelivery, the Products will be returned to us and/or the vendors and the customer can reschedule the delivery. </p>
                                        <p>All risk in the Products you order (including risk of loss and/or damage to the Products) shall pass to you when they are delivered to the delivery address specified in your order.</p>
                                        <p>We shall be under no liability for any delay or failure to deliver Products if the delay or failure is wholly or partly caused by circumstances beyond our control.</p>
                                    </li>
                                    <li>
                                        <h3>Liability</h3>
                                        <p>We will use reasonable skill and care in fulfilling any order placed by you which is accepted by us. We exclude however, subject to Clause 9.6, all other representations, warranties, conditions and terms express or implied by law or otherwise to the fullest extent permitted by law.</p>
                                        <p>We will not be liable for any special, indirect, incidental, consequential or economic loss or for loss of profits or revenues howsoever caused arising in connection with any order placed by you.</p>
                                        <p>Notwithstanding the above, our total liability (whether in contract, tort, negligence or on any other basis) to you, for any loss or damage shall, subject to Clause 9.6, be limited to the sums paid by you for the Products.</p>
                                        <p>We will not be liable to you where we breach these Terms due to any cause that is beyond our reasonable control, including acts of God, explosions, floods, tempests, fires or accidents; wars or threats of war, sabotage, insurrection, civil disturbance or requisition; acts, restrictions, regulations, by-laws, decrees or laws, prohibitions or measures of any kind on the part of any governmental, parliamentary or local authority; import or export regulations or embargoes; strikes, lock-outs or other industrial actions or trade disputes; difficulties in obtaining Products from vendors, materials, labour, fuel, parts or machinery; power failure or breakdown in machinery.</p>
                                        <p>This Website may contain links to other websites. We accept no responsibility or liability for any material supplied by or contained on any third party website which is linked from or to this Website, or any use of personal data by such third party.</p>
                                        <p>Nothing in these Terms shall limit our liability for personal injury or death caused by our negligence, fraud or any other liability which cannot be excluded or limited by law.</p>
                                    </li>
                                    <li>
                                        <h3>Returns</h3>
                                        <p>You should check all Products you receive against your order. If you receive Products that are damaged or incorrectly supplied then you must note the details of any damage or error in supply on the delivery documentation and it will be your responsibility to tell us of the damage or incorrect supply within 24 hours of delivery. You must return the Products to us as soon as possible after notifying us that the Products are damaged or have been incorrectly supplied. Please note that we will not accept the return of any damaged or incorrectly supplied Products where you fail to notify us of this within seventy 24 hours of receiving them.</p>
                                        <p>Subject to Clause 10.1, if the Products</p>
                                        <ul style="list-style-type: lower-roman">
                                            <li>are damaged at the time of delivery</li>
                                            <li>have past their stated expiry dates at the time of delivery</li>
                                            <li>are proved to be counterfeit or</li>
                                            <li>have been incorrectly supplied then we will, at our option, provide a replacement or provide you with a credit equal to the value of such Products, which you can use against future purchases of Products from us.   If you have any queries in relation to our exchange policy please email to <a class="color-ok" href="mailto:customercare@valucart.com">customercare@valucart.com</a> for further assistance.</li>
                                        </ul>
                                        <p>All the Products listed on our Website are sold either by us directly or by carefully selected vendors and, in relation to the later, we just act as a marketplace to get these Products to you.  Each Product sold by us will also come with the benefit of the relevant vendors warranty for that particular Product as detailed on the Website or the Products themselves and vendors are directly responsible for it.  We will however provide you with reasonable assistance in relation to making any warranty claims against the relevant vendors.</p>
                                    </li>
                                    <li>
                                        <h3>Intellectual Property Rights</h3>
                                        <p>As between you and us, we own all present and future copyright, registered and unregistered trademarks, design rights, unregistered designs, database rights and all other present and future intellectual property rights and rights in the nature of intellectual property rights existing in or in relation to the Website.  We have submitted an application to register ValuCart as a trademark in the United Arab Emirates.</p>
                                    </li>
                                    <li>
                                        <h3>Indemnity</h3>
                                        <p>You agree to indemnify and keep us indemnified from and against all costs, claims, demands, liabilities, expenses, damages or losses (including, but not limited to, direct losses, consequential losses, loss of profit and loss of reputation and all interest, penalties, and legal and other professional costs and expenses) arising out of and in connection with any breach of these Terms by you.</p>
                                    </li>
                                    <li>
                                        <h3>Other important terms</h3>
                                        <p>We may update or amend these Terms from time to time to comply with law or to meet our changing business requirements without notice to you. Any updates or amendments will be posted on the Website and your continued use of the Website confirms your acceptance of the updated or amended Terms.</p>
                                        <p>These Terms supersede any other terms and conditions previously published by us and any other representations or statements made by us to you, whether oral, written or otherwise.</p>
                                        <p>You may not assign or sub-contract any of your rights or obligations under these Terms to any third party unless we agree in writing.</p>
                                        <p>We may assign, transfer or sub-contract any of our rights or obligations under these Terms to any affiliate or third party at our discretion.</p>
                                        <p>No relaxation or delay by us in exercising any right or remedy under these Terms shall operate as waiver of that right or remedy or shall affect our ability to subsequently exercise that right or remedy.  Any waiver must be agreed by us in writing. </p>
                                        <p>If any of these Terms are found to be illegal, invalid or unenforceable by any court of competent jurisdiction, the rest of these Terms shall remain in full force and effect.</p>
                                        <p>Only you and we shall be entitled to enforce these Terms. No third party shall be entitled to enforce any of these Terms. </p>
                                        <p>These Terms are governed by and shall be construed in accordance with UAE law as applicable in the Emirate of Dubai. In the event of any matter or dispute arising out of or in connection with these Terms, you and we shall submit to the exclusive jurisdiction of the Dubai International Financial Centre (DIFC) Courts, including the DIFC small claims tribunal, where such tribunal has specific jurisdiction for such claim.</p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
<% include template/footer %>