<footer class="hidden-xs">
    <h5>© 2018 ValuCart. All rights reserved.</h5>
</footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').niceSelect();
        /* $('select').on("change", function(){
            $(this).attr("selected","selected");
        }); */
    });
</script>
</body>

</html>