<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Valucart</title>
    <link rel="icon" href="img/favicon.png" sizes="16x16" type="image/png">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- main css-->
    <link href="css/main.css" rel="stylesheet">
    <!--    owl carousel css-->
    <link href="css/OwlCarousel.css" rel="stylesheet">
    <!-- fontawesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <!--Header Desktop / this will hide on mobile -->
    <div class="container-fluid headertop">
        <div class="container">
            <ul class="list-inline headerlist">
                <li style="border-right: 1px solid #fff; margin-bottom: 10px;">
                    <p style="margin: 0px;padding-right: 5px;">
                        <img class="img-responsive topnavlocationimg" src="img/phone.png">+91-9876543210</p>
                </li>
                <li style="border-right: 1px solid #fff; margin-bottom: 10px;">
                    <p style="margin: 0px;padding-right: 5px;">
                        <img class="img-responsive topnavlocationimg" src="img/locationtop.png"> Al Karama, Dubai
                        <i class="fa fa-chevron-down"></i>
                    </p>
                </li>
                <li style="margin-bottom: 10px;">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img class="img-responsive topnavlocationimg" src="img/user.png">Faheen Ahmed
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">My orders</a>
                            </li>
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href="#">Setting</a>
                            </li>
                            <li>
                                <a href="#">Shopping list</a>
                            </li>
                            <li>
                                <a href="#">My bundles</a>
                            </li>
                            <li>
                                <a href="#">Logout</a>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <!--    Header-->
    <!--    Navigation starts here-->
    <div class="container-fluid navtop">
        <div class="container">
            <div class="row">
                <div class="hidden-md hidden-sm hidden-lg vivible-xs col-xs-3">
                    <span style="font-size:30px;cursor:pointer;" onclick="openNav()">
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <a href="home"><img src="img/logo.png" class="img-responsive navbar-brand" alt="valucart-logo"></a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-3">
                    <ul class="list-inline navlist">
                        <li class="hidden-xs">
                            <a href="#">
                                <img src="img/wishlist.png" class="img-responsive navbar-brand" alt="valucart-logo" style="margin-right: 10px;">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/cart.png" class="img-responsive navbar-brand" alt="valucart-logo">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- mobile menu -->
    <div id="mobileview" class="mobileview1" style="display: none">
        <div id="mySidenav" class="sidenav" style="overflow-y: scroll;">
            <div class="sideheader">
                <img src="img/blacklogo.png" class="img-responsive navbar-brand-mob" alt="valucart-logo">
                <a href="javascript:void(0)" style="display: inline-block;" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
            <div class="tab">
                <button class="tablinks button1" onclick="openCity(event, 'account')" id="defaultOpen">
                    <img class="svg" src="img/user.svg" alt="" />
                    <br>My Account</button>
                <button class="tablinks button1" onclick="openCity(event, 'categories')">
                    <img class="svg" src="img/shop.svg" alt="" />
                    <br>Categories</button>
                <button class="tablinks button1" onclick="openCity(event, 'offers')">
                    <img class="svg" src="img/valucart.svg" alt="" />
                    <br>ValuCart Exclusives</button>
            </div>
            <div id="account" class="tabcontent">
                <a href="#">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title panels"> Login
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </h4>
                        </div>
                    </div>
                </a>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Sign up
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> My cart
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Wishlist
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
            </div>
            <div id="categories" class="tabcontent">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> News & Trending
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels">Holiday shop
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Chilled
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Food & Cupboard
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Drinks
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> health & Beauty
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Baby & toddler
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> household
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> pet
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Home & Outdoor
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
            </div>
            <div id="offers" class="tabcontent">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> News & Trending
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels">Holiday shop
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Chilled
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Food & Cupboard
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Drinks
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> health & Beauty
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Baby & toddler
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> household
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> pet
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panels"> Home & Outdoor
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    Navigation ends here-->