<div class="container container1">
    <div class="row">
        <div class="col-md-8 no-pad mybunedit" ng-init="stotal=0">
            <p class="Choose-items-you-want-as-part-of-your-bundle">Choose items you want as part of your
                bundle</p>
            <p class="Total-items-selected-1">Total items selected</p>
            <div class="panel panel-default productpanel" ng-repeat="bundle in mybundle">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1">
                            <div class="checkbox checkbox-info check-align">
                                <input id="brand_{{bundle.op_id}}" type="checkbox" checked>
                                <label for="brand_{{bundle.op_id}}">
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 mobright">
                            <p class="discountprice hidden-xs" ng-if="bundle.pdt_percentage">{{bundle.pdt_percentage}}%</p>
                            <img src="{{bundle.p_image}}" class="img-responsive productimg" alt="">
                        </div>
                        <div class="col-md-7 col-xs-6">
                            <p class="discountprice mob-dprice hidden-sm hidden-md hidden-lg" ng-if="bundle.pdt_percentage">{{bundle.pdt_percentage}}%</p>
                            <h4 ng-if="bundle.ct_is_bundel==true"><a ng-href="/bundle-detail/{{bundle.ct_pd_id}}/{{bundle.pd_name | spaceless}}">{{bundle.pd_name}}</a></h4>
                            <h4 ng-if="bundle.ct_is_bundel!=true"><a ng-href="/product-detail/{{bundle.ct_pd_id}}/{{bundle.pd_name | spaceless}}">{{bundle.pd_name}}</a></h4>
                            <h5 ng-if="bundle.ct_is_bundel!=true"><img src="img/grammeter.png" class="img-responsive gramimg">{{bundle.p_quantity}}</h5>

                            <div ng-if="bundle.ct_is_bundel==true">
                                <h6 class="detail-text" ng-repeat="bp in bundle.product">-
                                    {{bp.pd_name}}<strong>X {{bp.ctb_qty}}</strong>
                                </h6>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 mobile-pad no-pad">
                                <div class="productcountdiv button-container">
                                    <button type="button" class="btn btn-default productminus cart-qty-minus" ng-click="qty_minus('qty_',bundle.op_id)"
                                        value="-">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <!--<p class="productcount">1</p>-->
                                    <input type="text" name="qty_{{bundle.op_id}}" maxlength="12" value="{{bundle.ct_quantity}}"
                                        class="input-text qty productcount" data-qty="{{bundle.op_id}}" data-price="{{bprice= (bundle.pdt_price) ? bundle.pdt_price : bundle.price}}"
                                        disabled />
                                    <button type="button" class="btn btn-default productplus cart-qty-plus" ng-click="qty_plus('qty_',bundle.op_id)"
                                        value="+">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6  col-md-7">
                                <h6 style="margin-top: 20px;" class="rate" ng-if="bundle.pdt_percentage">
                                    <span>{{bundle.price}} AED</span> {{bundle.pdt_price}} AED</h6>
                                <h6 style="margin-top: 20px;" class="rate" ng-if="!bundle.pdt_percentage">
                                    {{bundle.price}} AED</h6>
                            </div>
                            <span class="hidden" ng-init="$parent.stotal = $parent.stotal + (bprice * bundle.ct_quantity)"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="shop-desktop">
                <a class="saveBundle">
                    <h5 class="continue-text"><i class="fa fa-plus-circle"></i> Add more products</h5>
                </a>
            </div>
        </div>
        <div class="col-md-4 mybundleit" style="margin-top: 10px;" id="summary-desktop">
            <div class="summary bnd-products">
                <h4 class="order">Order Summary</h4>
                <div id="subtotal">
                    <h5 class="total">Subtotal</h5>
                    <h5 class="total subTotal" style="float: right;">{{stotal |number:2}} AED</h5>
                    <hr>
                </div>
                <div id="delivery">
                    <h5 class="total">Delivery Charges</h5>
                    <h5 class="total" style="float: right;">15.00 AED</h5>
                </div>
                <!-- <div id="savings" style="margin-top: 20px">
                    <h5 class="total"><strong>savings</strong></h5>
                    <h5 class="total" style="float: right;"><strong>7.50 AED</strong></h5>
                </div> -->
                <div id="total" style="margin-top: 20px">
                    <h5 class="total"><strong>Grand total</strong> <br>
                        <span>(inclusive of 5%VAT)</span></h5>
                    <h5 class="total" style="float: right;">
                        <strong class="grandTotal">{{ stotal + (15)|number:2 }} AED</strong>
                        <strong ng-show="grand" ng-bind-html="(grandTotal |number:2) + (' AED')"></strong>
                    </h5>
                </div>
            </div>
            <input type="hidden" class="typeSubmit" value="save">
            <button type="submit" id="submitBundle" class="btn-proceed submitBundle">Save</button>
            <a href="/mybundles" class="btn-cancel">Cancel</a>
        </div>
        <div class="row" id="summary-mobile">
            <div class="col-md-4 no-pad summary summary1">
                <div class="btn-align">
                    <a href="/mybundles" class="btn-cancel">Cancel</a>
                    <button type="submit" id="submitBundle" class="btn-proceed">Save</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(document).on('click', '.saveBundle', function () {
                console.log(1);
                $(".typeSubmit").val("continue");
                $("#submitBundle").click();
            });
        });
    </script>